.section-donation {
  padding-top: 8.2rem;
  padding-bottom: 10rem;
}

.donation-row {
  display: flex;
  align-items: center;
}

.donation-img-box {
  width: var(--donationImgWidth);
  margin-left: 15rem;
}

.donation-content-box {
  width: var(--donationContWidth);
  margin-left: 2.5rem;
}

.donation-heading {
  width: var(--donationHeadWidth);
}

.donation-subHeading {
  width: var(--donationSubHeadWidth);
  font-size: var(--paragFZ);
  line-height: var(--logoHeadLH);
  color: var(--colorDarkl);
  margin-top: 2rem;
}

.donation-link {
  background-color: var(--colorPrime);
  width: var(--donationLinkWidth);
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin-top: 1.8rem;
}

.donation-link-svg-box {
  width: 3rem;
}

.donation-link-text {
  margin-left: 1.5rem;
}

.donation-link:hover {
  background-color: var(--colorPrimeLight);
  box-shadow: var(--hoverShadow);
  scale: 103%;
  cursor: pointer;
}

.donation-link:hover .donation-link-text {
  color: var(--colorBlack);
}

.donation-link:hover .donation-link-svg {
  fill: var(--colorBlack);
}

.donation-link:active {
  color: var(--colorDark3xl);
  background-color: var(--colorPrime);
  scale: 100%;
}

.donation-paragraph {
  width: var(--donationParagWidth);
  font-family: var(--paragStyle);
  font-size: var(--donationParagFZ);
  line-height: var(--donationParagLH);
  font-style: italic;
  margin-top: 1.8rem;
}

/* @media start */

@media (min-width: 768px) and (max-width: 1279px) {
  .section-donation {
    padding-top: 8.1rem;
  }

  .donation-row {
    flex-direction: column-reverse;
  }

  .donation-content-box {
    margin-left: 1.7rem;
  }

  .donation-img-box {
    margin-left: 1.5rem;
    margin-top: 6rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .section-donation {
    padding-top: 4.2rem;
    padding-bottom: 4.3rem;
  }

  .donation-row {
    flex-direction: column-reverse;
  }

  .donation-img-box {
    margin-left: 1.6rem;
    margin-top: 4.3rem;
  }

  .donation-content-box {
    margin-left: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .donation-heading {
    text-align: center;
  }

  .donation-subHeading {
    --headLS: 0;
    margin-top: 2.3rem;
  }

  .donation-link {
    padding-right: 1rem;
    margin-top: 2.2rem;
  }

  .donation-link-text {
    --cardHeadFZ: 1.5rem;
    margin-left: 1.5rem;
  }

  .donation-paragraph {
    text-align: justify;
  }
}
