.header {
  margin-top: 6rem;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo start */
.header-logo-box {
  width: var(--headerLogoWidth);
  border-radius: 1.6rem;
  margin-left: .9rem;
}

.header-logo-heading {
  font-size: var(--logoHeadFZ);
  line-height: var(--logoHeadLH);
  color: var(--colorPrime);
  margin: 0;
}

.header-logo-paragraph {
  font-family: var(--paragStyle);
  font-size: var(--logoParagFZ);
  line-height: var(--logoParagLH);
  letter-spacing: var(--logoParagLS);
  color: var(--colorLightxl);
  margin-top: 1rem;
  margin-left: .3rem;
}

.header-logo-box:hover {
  background-color: rgb(38, 36, 37);
  animation: headerLogoBoxAnimation 1s linear;
}

.header-logo-box:hover .header-logo-heading {
  color: var(--colorPrimeLight);
}

.header-logo-box:hover .header-logo-paragraph {
  color: var(--colorSilver);
}

@keyframes headerLogoBoxAnimation {
  to {
    transform: rotateY(360deg);
  }
}
/* logo finish */

/* nav start */
.header-nav-box {
  width: var(--headerNavWidth);
  margin-left: auto;
  margin-top: -.5rem;
  margin-right: -1rem;
}

.header-nav-list {
  display: flex;
}

.header-nav-list-item:first-child {
  margin-right: 3.5rem;
}

.header-nav-list-item:nth-child(2){
  margin-right: 3.5rem;
}

.header-nav-list-item:last-child {
margin-left: auto;
margin-right: .3rem;
}

.header-nav-list-item-link {
  position: relative;
  color: var(--colorDarkS);
}

.header-nav-list-item-link.active-link {
  color: var(--colorLightS);
}

.header-nav-list-item-link:hover {
  color: var(--colorLightS);
}

.header-nav-list .header-nav-list-item-link.active-link::after,
.header-nav-list .header-nav-list-item-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -.6rem;
  display: block;
  height: .3rem;
  background-color: var(--colorPrime);
  border-radius: 10rem;
}
/* nav finish */
