.notOnly-row {
  display: flex;
  justify-content: space-between;
}

.notOnly-content-box {
  width: var(--notOnlyContWidth);
  display: flex;
  flex-direction: column;
  margin-top: 16.1rem;
  margin-left: .9rem;
}

.notOnly-heading {
  font-size: var(--notOnlyHeadFZ);
  color: var(--colorLightxl);
  width: 66%;
  letter-spacing: normal;
}

.notOnly-paragraph {
  color: var(--colorDarkS);
  margin-top: 4.2rem;
}

.notOnly-link {
  background-color: var(--colorPrime);
  width: 45%;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  margin-top: 4.2rem;
}

.notOnly-link:hover {
  color: var(--colorBlack);
  background-color: var(--colorPrimeLight);
  box-shadow: var(--hoverShadow);
  scale: 103%;
}

.notOnly-link:active {
  color: var(--colorDark3xl);
  background-color: var(--colorPrime);
  scale: 100%;
}

.notOnly-img-box {
  width: var(--notOnlyImgWidth);
  margin-right: -2rem;
}
