.notOnly-row {
  display: flex;
  justify-content: space-between;
}

.notOnly-content-box {
  width: var(--notOnlyContWidth);
  display: flex;
  flex-direction: column;
  margin-top: 16.1rem;
  margin-left: 0.9rem;
}

.notOnly-heading {
  font-size: var(--notOnlyHeadFZ);
  color: var(--colorLightxl);
  width: var(--notOnlyHeadWidth);
  letter-spacing: normal;
}

.notOnly-paragraph {
  color: var(--colorDarkS);
  width: var(--notOnlyParagWidth);
  margin-top: 4.2rem;
}

.notOnly-link {
  background-color: var(--colorPrime);
  width: var(--notOnlyLinkWidth);
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  margin-top: 4.2rem;
}

.notOnly-link:hover {
  color: var(--colorBlack);
  background-color: var(--colorPrimeLight);
  box-shadow: var(--hoverShadow);
  scale: 103%;
}

.notOnly-link:active {
  color: var(--colorDark3xl);
  background-color: var(--colorPrime);
  scale: 100%;
}

.notOnly-img-box {
  width: var(--notOnlyImgWidth);
  margin-right: -2rem;
}

/* @media start */

@media (min-width: 768px) and (max-width: 1279px) {
  .notOnly-row {
    flex-direction: column;
    align-items: center;
  }

  .notOnly-content-box {
    margin-top: 0;
    margin-left: 1.8rem;
    margin-bottom: 9.7rem;
  }

  .notOnly-link {
    align-self: center;
  }

  .notOnly-img-box {
    margin-right: -15.5rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .section-notOnly {
    flex-grow: 2;
  }
  .notOnly-row {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .notOnly-content-box {
    margin-top: 5.9rem;
    margin-left: 0;
    margin-bottom: 0;
    align-items: center;
    text-align: center;
  }

  .notOnly-heading {
    letter-spacing: var(--headLS);
    margin-left: 1.8rem;
  }

  .notOnly-paragraph {
    width: var(--notOnlyParagWidth);
    margin-left: 1.5rem;
  }

  .notOnly-link {
    margin-left: 1.5rem;
  }

  .notOnly-img-box {
    margin-left: 3.5rem;
  }
}
