.section-ourFriends {
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.ourFriends-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourFriends-heading {
  text-align: center;
  width: var(--ourFriendsHeadWidth);
  margin-left: 2rem;
}

.ourFriends-slider-box {
  width: var(--ourFriendsSlidBoxWidth);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  margin-left: 1.7rem;
}

.ourFriends-slider-button {
  width: 5.3rem;
  height: 5.3rem;
  border: 0.3rem solid var(--colorPrime);
  border-radius: 10rem;
}

.ourFriends-arrow-icon {
  width: 2rem;
  vertical-align: middle;
}

.ourFriends-next-icon {
  transform: rotate(-180deg);
}

.ourFriends-slider-button:hover {
  background-color: var(--colorPrime);
  box-shadow: var(--hoverShadow);
}

.ourFriends-slider-button:hover .ourFriends-arrow-icon {
  color: var(--colorBlack);
  scale: 120%;
}

.ourFriends-slider {
  width: var(--ourFriendsSlidWidth);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.ourFriends-slider-card {
  width: var(--ourFriendsCardWidth);
  background-color: var(--colorLightS);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  border-radius: 1rem;
}

.ourFriends-slider-card-img-box {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.ourFriends-slider-card-heading {
  margin-top: 3rem;
}

.ourFriends-slider-card-link {
  border: 0.3rem solid var(--colorPrime);
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  margin-top: 2.7rem;
}

.ourFriends-slider-card:hover {
  background-color: var(--colorWhite);
  scale: 103%;
  box-shadow: var(--hoverShadow);
  cursor: pointer;
}

.ourFriends-slider-card:hover .ourFriends-slider-card-heading {
  color: var(--colorBlack);
}

.ourFriends-slider-card:hover .ourFriends-slider-card-link {
  color: var(--colorBlack);
  background-color: var(--colorPrime);
}

.ourFriends-slider-card-link:hover {
  scale: 103%;
  box-shadow: var(--hoverShadow);
}

.ourFriends-slider-card-link:active {
  color: var(--colorDark3xl);
  background-color: var(--colorPrime);
  scale: 100%;
}

.ourFriends-link {
  background-color: var(--colorPrime);
  padding: 1.5rem 4.5rem;
  margin-top: 5.6rem;
  margin-left: 2rem;
  border-radius: 10rem;
}

.ourFriends-link:hover {
  color: var(--colorBlack);
  background-color: var(--colorPrimeLight);
  box-shadow: var(--hoverShadow);
  scale: 103%;
}

.ourFriends-link:active {
  color: var(--colorDark3xl);
  background-color: var(--colorPrime);
  scale: 100%;
}

/* slider animation start */
.slider-card-goLeft {
  position: relative;
  animation: goLeft 0.3s ease-in-out;
}

.slider-card-goRight {
  position: relative;
  animation: goRight 0.3s ease-in-out;
}

@keyframes goLeft {
  0% {
    left: 0;
    visibility: visible;
  }
  50% {
    left: -120rem;
    visibility: hidden;
  }
  75% {
    left: 100rem;
    visibility: hidden;
  }
  100% {
    left: 0;
    visibility: visible;
  }
}

@keyframes goRight {
  0% {
    right: 0;
    visibility: visible;
  }
  50% {
    right: -120rem;
    visibility: hidden;
  }
  75% {
    right: 100rem;
    visibility: hidden;
  }
  100% {
    right: 0;
    visibility: visible;
  }
}
/* slider animation finish */

/* @media start */

@media (min-width: 768px) and (max-width: 1279px) {
  .section-ourFriends {
    padding-top: 8.1rem;
    padding-bottom: 10rem;
  }

  .ourFriends-heading {
    margin-left: 1.8rem;
  }

  .ourFriends-slider-box {
    margin-top: 6rem;
    margin-left: 1.8rem;
  }

  .ourFriends-slider-card:nth-child(n + 3) {
    display: none;
  }

  .ourFriends-link {
    margin-left: 1.8;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .section-ourFriends {
    padding-top: 4.3rem;
    padding-bottom: 4.1rem;
  }

  .ourFriends-heading {
    margin-left: 1.8rem;
  }

  .ourFriends-slider-box {
    margin-top: 4rem;
    margin-left: 1.8rem;
    justify-content: center;
    position: relative;
  }

  .ourFriends-slider-card:nth-child(n + 2) {
    display: none;
  }

  .ourFriends-slider-button {
    position: absolute;
    bottom: -7rem;
  }

  .ourFriends-prev-button {
    left: 5.5rem;
  }

  .ourFriends-next-button {
    right: 5.5rem;
  }

  .ourFriends-link {
    margin-top: 11.2rem;
    margin-left: 1.8rem;
  }
}
