.section-youCanHelp {
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.youCanHelp-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.youCanHelp-heading {
  width: var(--youCanHelpHeadWidth);
  text-align: center;
  margin-left: 2rem;
}

.youCanHelp-list {
  width: var(--youCanHelpListWidth);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 12rem;
  row-gap: 5.5rem;
  margin-top: 5.9rem;
  margin-left: 1.8rem;
}

.youCanHelp-item:first-child {
  margin-left: 0;
}

.youCanHelp-card {
  width: var(--youCanHelpCardWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

.youCanHelp-card-svg-box {
  width: 6rem;
  height: 6rem;
}

.youCanHelp-card-heading {
  margin-top: 3rem;
}

.youCanHelp-card:hover {
  scale: 103%;
  background-color: rgba(13, 13, 13, 0.04);
  box-shadow: var(--hoverShadow);
  cursor: pointer;
}

.youCanHelp-card:hover .youCanHelp-card-svg {
  fill: rgb(38, 36, 37);
}

.youCanHelp-card:hover .youCanHelp-card-heading {
  color: var(--colorBlack);
}

/* @media start */

@media (min-width: 768px) and (max-width: 1279px) {
  .section-youCanHelp {
    padding-top: 8rem;
    padding-bottom: 10rem;
  }

  .youCanHelp-heading {
    margin-left: 1.8rem;
  }

  .youCanHelp-list {
    column-gap: 6rem;
    margin-left: 1.8rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .section-youCanHelp {
    padding-top: 4.3rem;
    padding-bottom: 4.4rem;
  }

  .youCanHelp-heading {
    margin-left: 1.8rem;
  }

  .youCanHelp-list {
    column-gap: 3rem;
    row-gap: 2.9rem;
    margin-top: 4.1rem;
    margin-left: 1.7rem;
    justify-content: space-between;
  }

  .youCanHelp-card-svg-box {
    width: 5rem;
    height: 5rem;
  }

  .youCanHelp-card-heading {
    --cardHeadFZ: 1.5rem;
    margin-top: 2rem;
  }
}
