:root {
  --footerBG: url(./../../img/pets-img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, rgb(81, 61, 47) 0%, rgb(26, 26, 28) 100%), rgb(33, 31, 32);

  --mainHeadWidth: 33.5%;
  --mainContWidth: 100%;
  --mainCardBoxWidth: 100%;
  --mainCardWidth: 22.5%;
  --mainPaginWidth: 28.5%;
}

.pets-box {
  position: relative;
  overflow: hidden;
}

/* @media start */

@media (min-width: 768px) and (max-width: 1279px) {
  :root {
    --mainHeadWidth: 40rem;
    --mainContWidth: 58rem;
    --mainCardWidth: 27rem;
    --mainPaginWidth: 34rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  :root {
    --mainHeadWidth: 30rem;
    --mainContWidth: 30rem;
    --mainCardBoxWidth: 27rem;
    --mainCardWidth: 27rem;
    --mainPaginWidth: 30rem;
  }
}
